

/*PRESETS*/

html, body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #222
}

p {
    position: fixed;
    right: 3.5vw;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: #fff;
    font-weight: bold;
}


/*CANVAS*/

#canvas {
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
}

#circle {
    width: 0vw;
    height: 0vw;
    transition: 3s ease-out;
    background-image: radial-gradient(white, transparent 72%);
    position: fixed;
    z-index: 99999;
}


/*MENU*/

#menu {
    position: fixed;
    width: 46vw;
    height: 6vw;
    left: 27vw;
    bottom: 0;
    background-color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 0 0 0.8vw #22222230;
    z-index: 999999999999999;
}

#menu ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    margin: 0 1.8vw;
    flex-basis: 0;
    text-align: center;
    height: 5vw;
    cursor: pointer;
}

#menu li:first-child {
    flex-basis: 100%;
    text-align: right;
    height: 3.5vw;
}

#menu li:last-child {
    flex-basis: 100%;
    text-align: left;
    height: 3.5vw;
}

#menu li img {
    height: 100%;
    margin: 0 0.6vw;
}

/*DOWNLOAD*/

#overlayRecord {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 999999999999999999999;
    animation: downloadOverlay 1s ease;
}

@keyframes downloadOverlay{
    from {
        opacity: 0;
    }
}

#downloadRecord {
    position: fixed;
    opacity: 0;
    width: 75vw;
    height: 75vw;
    max-width: 75vh;
    max-height: 75vh;
    top: 0;
    right: 0;
    bottom: 6vw;
    left: 0;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    z-index: 9999999999999999999999999999;
    animation: download 3s ease 0.25s forwards;
}

@keyframes download{
    from {
        opacity: 0;
        width: 0;
        height: 0;
    }

    to {
        opacity: 1;
        width: 75vw;
        height: 75vw;
        max-width: 75vh;
        max-height: 75vh;
    }
}



/*LOOPS*/

#loops {
    position: fixed;
    height: 3.5vw;
    top: 0.6vw;
    z-index: 9999999;
}

#loops ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#loops li {
    margin: 0 0.6vw 0.6vw 0;
    opacity: 0.5;
    height: 100%;
    width: 3.5vw;
    text-align: center;
}

#loops li span {
    position: absolute;
    margin-left: 1.8vw;
    margin-top: 1.75vw;
    font-size: 1vw;
    z-index: 9999999999;
    cursor: pointer;
}

#loops li img {
    position: absolute;
    z-index: 99999999999999;
    cursor: pointer;
    height: 2.4vw;
    opacity: 0;
    transition: 0.2s;
}

#loops li .pauseLoop, #loops li .playLoop {
    margin-left: 0vw;
    margin-top: -0.5vw;
}

#loops li .closeLoop {
    margin-left: 2.3vw;
    margin-top: -0.5vw;
}

#loops li:hover > img {
    opacity: 1;
}


#loops li svg {
    margin: 0.6vw 0.6vw;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

  
#loops li svg circle {
    stroke-dasharray: 9.38vw;
    stroke-dashoffset: 0vw;
    stroke-width: 0vw;
    stroke: #222;
    fill: #fff;
    cursor: pointer;
    animation: countdown " + duration + "s linear infinite forwards;
  }



@keyframes countdown {
    from {
      stroke-dashoffset: -9.38vw;
    }
    to {
      stroke-dashoffset: 0vw;
    }
  }

