

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #d4d269;
    margin-bottom: 10vh;
    transition: 0.6s;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    body {
      font-size: 6vw;
    }
  }