


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
}

.gallery img:hover {
    cursor: pointer;
}

#lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 84%;
    max-height: 84%;
    max-width: min(84%, 1000px);
    max-height: min(84%, 1000px);
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

#lightboxbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

#next, #prev, #close {
    position: fixed;
    padding: 0.6%;
    z-index: 99999999;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

#next:hover, #prev:hover, #close:hover {
    cursor: pointer;
}

#next {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#next::after {
    content: "navigate_next";
}

#prev {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#prev::after {
    content: "navigate_before";
}

#close {
    right: 0;
    top: 0;
    font-size: 48px;
}

#close::after {
    content: "close";
}


@media (hover:none) {
    #next, #prev {
        margin-top: -999999px;
        z-index: 0;
    }
}