.grid {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	box-sizing: border-box;

}

.grid li {
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 5vw;
	opacity: 0;
	width: calc(99.9% / 4);
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.grid li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


@media screen and (max-width:740px) {
	
	.grid li {
		width: calc(99.9% / 1);
	}

}



