.button-menu {
    display: none;
    z-index: 999;
    top: -12px;
    width: 30px;
    height: 26px;
    border: none;
    position: relative;
    background: linear-gradient(to bottom, var(--font-color), var(--font-color));
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: background-size 0.1s 0.1s ease;
  }
  .button-menu:before,
  .button-menu:after {
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--font-color);
    content: '';
    transition: transform 0.2s ease;
  }
  .button-menu:before {
    top: 0;
  }
  .button-menu:after {
    bottom: 0;
  }
  .button-menu:before,
  .button-menu:after {
    transition: 0.2s ease;
  }
  .button-menu.is-active {
    background-size: 0 0;

  }
  .button-menu.is-active:before,
  .button-menu.is-active:after {
    transition-delay: 0.1s;
    background-color: white;
  }
  .button-menu.is-active:before {
    transform: translateY(280%) rotate(45deg) scaleX(1.17);
  }
  .button-menu.is-active:after {
    transform: translateY(-280%) rotate(-45deg) scaleX(1.17);
  }
  



 
@media screen and (max-width: 1200px) {
    nav ul {
        visibility: hidden;
        opacity: 0;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: var(--margin-top-header) 0 0 5%;
        background-color: var(--font-color-highlight);
    }

    nav ul li {
        display: block;
        margin-bottom: calc(var(--font-size-nav-medium-small-viewport) - 4px);
    }

    nav ul li a {
      color: white;
    }

    nav ul li a:hover {
      color: var(--font-color)
  }
  
    #active {
      color: var(--font-color)
  }
   
    .button-menu {
        display: inline;
    }
  }
  
  @media screen and (min-width: 1201px) {
    nav ul {
        visibility: visible !important;
        opacity: 1 !important;
    }
  
   
  }