

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--font-color);
    text-transform: var(--text-transform-menu);
    overflow-y: scroll;
    height: 100%;

    width: calc(var(--width-body) * 100%);
    max-width: calc(var(--max-width) * var(--width-body)) ;
    min-width: var(--min-width);
    margin: 0 auto;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--font-color-highlight)
}

a:focus {
    outline: 0;
}

#active {
    color: var(--font-color-highlight)
}

header {
    width: calc(100%  - (var(--grid-column-margin) * 2));
    max-width: calc(100% - (var(--grid-column-margin) * 2));
    margin-top: var(--margin-top-header);
    line-height: var(--font-size-h1);
    text-align: middle;
}

h1 {
    display: inline;
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
}

nav {
    float: right;
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-nav);
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

main {
    width: 100%;
    max-width: 100%;
    margin: var(--margin-top-main) auto 0 auto;
    font-size: var(--font-size-text);
}

img {
    user-select: none;
}

i {
    user-select: none;
}

.about {
    width: 100%;
    max-width: var(--max-width-about);
    text-transform: var(--text-transform-text);
}

.about section {
    margin: 0 var(--grid-column-margin) calc(var(--font-size-text) * 1.8) var(--grid-column-margin);
}

.about p {
    margin-bottom: calc(var(--font-size-text) / 3);
}

.about .cv-year {
    font-weight: 500;
    box-shadow: inset 0 calc(var(--font-size-text) / 1.5 * -1) 0 0 var(--font-color-highlight);
}

.about .cv-year::before {
    content: "\00a0";
    box-shadow: inset 0 calc(var(--font-size-text) / 1.5 * -1) 0 0 var(--font-color-highlight);
}

.about .cv-description {
    margin-left: calc(var(--font-size-text) * var(--font-size-factor-small-viewport) / 3);
}


.text {
    max-width: var(--max-width-text);
    text-transform: var(--text-transform-text);
}

.text section {
    margin: 0 var(--grid-column-margin);
    text-align: justify;
}

.text section p {
    display: block;
    float: right;
    margin-top: calc(var(--font-size-text) * 3.6);

}

.text section p span {
    box-shadow: inset 0 calc(var(--font-size-text) / 1.5 * -1) 0 0 var(--font-color-highlight);
    font-weight: 500;
}

.text section p span::before, .text section p span::after {
    content: "\00a0";
    box-shadow: inset 0 calc(var(--font-size-text) / 1.5 * -1) 0 0 var(--font-color-highlight);
}

.contact {
    max-width: var(--max-width-contact);
    text-transform: var(--text-transform-text);
}

footer {   
    margin-top: var(--margin-top-footer);
    text-align: center;
    font-size: var(--font-size-footer);
    font-weight: var(--font-weight-footer);
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

form {
    margin: 0 var(--grid-column-margin);
    background-color: #F2F2EE;
    padding: 40px;
    font-weight: 500;
    color: #636B6F;
}

form p {
    margin-bottom: calc(var(--font-size-text) / 3);
}

form textarea::placeholder, form input::placeholder {
    color: #dddddd;
    opacity: 1;

}

form textarea, form input {
    width: 100%;
    height: calc(var(--font-size-text) * 2.8);
    padding: calc(var(--font-size-text) / 2);
    box-sizing: border-box;
    border: 2px solid #dddddd;
    font-family: var(--font-family);
    color: #222222;
    margin-bottom: calc(var(--font-size-text) * 1.2);
    resize: none;
    font-size: var(--font-size-text);
}

form textarea:focus, form input:focus {
    border: 2px solid var(--font-color-highlight);
}

form textarea {
    height: calc(var(--font-size-text) * 10);
}

form button {
    display: block;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    color: white;
    background-color: var(--font-color-highlight);
    text-align: center;
    border: none;
    padding: calc(var(--font-size-text) / 1.4) calc(var(--font-size-text) * 2.4);
    margin-top: calc(var(--font-size-text) / 2);
    font-weight: 500;
}

form button:hover {
    cursor: pointer;
    opacity: 0.75;
}


@media screen and (max-width:1200px) {
	header {
        width: calc(1200px - (var(--grid-column-margin) * 2));
        max-width: calc(100%  - (var(--grid-column-margin) * 2));

    }
    
    nav {
        font-size: var(--font-size-nav-medium-small-viewport);
    }
}


@media screen and (max-width:500px) {
    :root {
        --width-body: 0.96;
    } 

	h1 {
		display:inline-block; 
		width: 10px;
    }

    form {
        padding: 16px;
    }

    header {
        line-height: calc(var(--font-size-h1) * var(--font-size-factor-small-viewport));
        margin-top: calc(var(--margin-top-header) * var(--font-size-factor-small-viewport));
    }
    
    
    h1 {
        font-size: calc(var(--font-size-h1) * var(--font-size-factor-small-viewport));
    }
    
    nav {
        font-size: calc(var(--font-size-nav-medium-small-viewport) * var(--font-size-factor-small-viewport));
    }
    
    main {
        font-size: calc(var(--font-size-text) * var(--font-size-factor-small-viewport));
        margin-top: calc(var(--margin-top-main) * var(--font-size-factor-small-viewport));
    }
    
    .about section {
        margin: 0 var(--grid-column-margin) calc(var(--font-size-text) * 1.8 * var(--font-size-factor-small-viewport)) var(--grid-column-margin);
    }
    
    .about p {
        margin-bottom: calc(var(--font-size-text) / 3 * var(--font-size-factor-small-viewport));
    }
    
    .about .cv-year, .about .cv-year::before {
        box-shadow: inset 0 calc((var(--font-size-text) * var(--font-size-factor-small-viewport)) / 1.5 * -1) 0 0 var(--font-color-highlight);
    }

    .text section p {
        margin-top: calc(var(--font-size-text) * 3.6 * var(--font-size-factor-small-viewport));
    }

    .text section p span,  .text section p span::before, .text section p span::after {
        box-shadow: inset 0 calc((var(--font-size-text) * var(--font-size-factor-small-viewport)) / 1.5 * -1) 0 0 var(--font-color-highlight);
    }
    
    footer {
        font-size: calc(var(--font-size-footer) * var(--font-size-factor-small-viewport));
        margin: calc(var(--margin-top-footer) * var(--font-size-factor-small-viewport)) auto 0 auto;
    }
    
    form p {
        margin-bottom: calc(var(--font-size-text) / 3 * var(--font-size-factor-small-viewport));
    }
    
    form textarea, form input {
        height: calc(var(--font-size-text) * 2.8 * var(--font-size-factor-small-viewport));
        padding: calc(var(--font-size-text) / 2 * var(--font-size-factor-small-viewport));
        margin-bottom: calc(var(--font-size-text) * 1.2 * var(--font-size-factor-small-viewport));
        font-size: calc(var(--font-size-text) * var(--font-size-factor-small-viewport));
    }
    
    form textarea {
        height: calc(var(--font-size-text) * 10 * var(--font-size-factor-small-viewport));
    }    
}














