@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #C4AD53;
    text-decoration: none;
    border: none;
    box-sizing: content-box;
    list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
    color: #C4AD53;
    text-decoration: none;
}


html {
    font-size: 100%;
}

body {
    margin: 3vw 3vw 0 3vw;
    padding-top: 13vw;
    font-size: 1.25rem;
}

#title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 0;
    font-size: 9.5vw;
    font-weight: 600;
    mix-blend-mode: exclusion;
    z-index: 9999;
}

table {
    margin: 0.8rem 0 2rem 0
}

table tr td:first-child {
    white-space: nowrap;
}

table tr td {
    padding-right: 0.8rem;
}

section {
    margin-bottom: 6rem;
}

section ul li img {
    cursor: pointer;
    transition: 0.2s ease;
}

section ul li img:hover {
    transform: scale(1.1);
}

#copyright {
    font-size: 0.8rem;
    margin: 6rem 0 0.4rem 0;
    display: block;
    text-align: center;
}

#instagram {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    width: 2rem;
}




@media screen and (max-width:740px) {

    html {
        font-size: 75%;
    }

    
    #title {
        font-size: 10.5vw;
    }

    section ul li img:hover {
        transform: none;
    }

}

@media screen and (min-width:1760px) {

    html {
        width: 1630px;
        margin: 0 auto 0 auto;
    }

    body {
        margin: 0;
        padding-top: 17.6rem;
    }   

    #title {
        font-size: 10.45rem;
    }

}

