html, body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: table;
}

figure {
    margin: 10px;
}

figure img {
    height: 400px;
}

figure {
    display: none;    
    float: left;
    display: inline-flex;

}
#images {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
}

#load {
    position: absolute;
    z-index: 9999999;
    margin-top: 310px;
    display: table-cell;
}
