html, body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
figure img {
    height: 400px;
    margin: 10px;
}
figure {
    display: none;    
    float: left;
}
#load {
    position: absolute;
    z-index: 9999999;
    margin-top: 310px;
}
