@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    font-size: 8pt;
}

figure {
    display: none;
    opacity: 0;
    margin: 10px;
    float: left;
}

figure img {
    height: 400px;
}

#images {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#load {
    position: absolute;
    z-index: 9999999;
    margin-top: 220px;
}
